.icon-box {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;

  a {
    text-decoration: none;
    color: gray;
  }

}

.text-box {
  text-align: center;

  p {
    line-height: 16px;
  }
}

i {
  font-size: 4em;
  cursor: pointer;
}
