<div class="spacer"></div>
<footer class="bg-light text-center text-lg-start ">
   
    <div class="container p-4">
    
      <div class="row">
     
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <div class="row">
            <div class="col-lg-12 icon-box"><a routerLink="home"><i class="fas fa-home"></i></a></div>
            <div class="col-lg-12 text-box"><p>Wróć do strony głównej</p></div>

          </div>
          
        </div>
        
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <div class="row">
            <div class="col-lg-12 icon-box"><a href="https://www.facebook.com/search/top?q=palmiarnia-krak%C3%B3w.pl" target="_blank"><i class="fab fa-facebook-square"></i></a></div>
            <div class="col-lg-12 text-box"><p>Polub nas na Facebooku</p></div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <div class="row">
            <div class="col-lg-12 icon-box"><a href="https://www.youtube.com/channel/UCw8LN8k0Eiqn1vKioRIEDFA" target="_blank"><i class="fab fa-youtube"></i></a></div>
            <div class="col-lg-12 text-box"><p>Zasubskrybuj nas na YouTube</p></div>
          </div>
        </div>
       
      </div>
    
    </div>
    
  
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021
      <a class="text-dark" href="https://palmiarnia-krakow.pl/"><b>Palmiarnia-Kraków.pl</b> All rights reserved.</a>
    <br>
    <a href="https://www.webfreecounter.com/" target="_blank"><img src="https://www.webfreecounter.com/hit.php?id=gupadqa&nd=6&style=2"  alt="visitor counter"></a>
    </div>
  </footer>