<div class="spacer"></div>
<div class="container content-container">
      <div class="row">
        <div class="col-sm-4 palm-card-container" *ngFor="let palm of palmsData">
          <div class="card">
            <swiper
            [slidesPerView]="1"
            [spaceBetween]="30"
            [loop]="true"
            [pagination]="{
              clickable: true
            }"
            [navigation]="true"
            class="mySwiper"
            >
      
            <ng-template *ngFor="let image of palm.images"  swiperSlide><img src={{image}} alt={{palm.title}} class="img-fluid" /></ng-template>
            
            </swiper>
            <div class="card-body pointer" (click)="goToPalmDetails(palm?.name)">
              <h5 class="card-title">{{ palm?.title }}</h5> <p style="font-size: 12px; font-style: italic;">(zobacz więcej)</p>
            </div>
          </div>
        </div>
    </div>
</div>

 