<div class="spacer"></div>
<div class="container content-container">
  <h2>O NAS</h2>
  <div class="row">
    <div class="col-lg-12">
      <p><b>Palmiarnia-Kraków.pl</b> to egzotyka w najlepszym wydaniu. Jesteśmy bezpośrednim importerem roślin egzotycznych z całego świata. <br><br>Zaopatrujemy hurtowników i detalistów. <br><br>W sprzedaży posiadamy ogromny wybór palm, palm mrozoodpornych i roślin egzotycznych, drzew oliwnych, cytrusów i kaktusów. Nasze rośliny znalazły swoje miejsce w ogrodach, oranżeriach, hotelach, basenach, mieszkaniach, zdobiąc biura, a także balkony i tarasy naszych klientów.   <br><br><b>Sprzedaż odbywa się stacjonarnie i wysyłkowo przez cały rok.</b> Realizujemy także indywidualne zamówienia!
      Posiadamy doświadczenie w tym zakresie.<br><br> Zapraszamy do zapoznania się z naszą ofertą!</p> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 img-box"><img src="../../assets/about/1.jpeg" alt=""></div>
    <div class="col-md-4 img-box"><img src="../../assets/about/2.jpeg" alt=""></div>
    <div class="col-md-4 img-box"><img src="../../assets/about/3.jpeg" alt=""></div>
  </div>

  

</div>