<div class="spacer"></div>
<div class="container content-container">
  <h2>O NAS</h2>
  <div class="row">
    <div class="col-lg-12">
      <p><b>PalmiarniaKrakow.pl</b> jest importerem roślin egzotycznych. W swojej ofercie posiadamy palmy, juki, agawy, strelicje, kaktusy, bananowce i wiele innych. Posiadamy wiedzę i praktykę hodowli roślin egzotycznych w warunkach klimatycznych naszego kraju. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aliquam consequuntur illum rem accusamus nulla non nostrum odit ipsa dignissimos. Quisquam tenetur dolorum officiis numquam accusamus, quas repudiandae optio quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iste omnis sequi? Ducimus quam esse placeat enim voluptas, earum aperiam ipsum repellat qui et rem libero, quaerat provident assumenda corrupti! <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa excepturi deleniti expedita beatae. Dolores aut, incidunt nobis sed quisquam modi placeat tempora necessitatibus, maiores neque blanditiis porro itaque, distinctio officia. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 img-box"><img src="../../assets/content/our_plants_at_the_customer/1.jpeg" alt=""></div>
    <div class="col-md-4 img-box"><img src="../../assets/content/our_plants_at_the_customer/2.jpeg" alt=""></div>
    <div class="col-md-4 img-box"><img src="../../assets/content/our_plants_at_the_customer/3.jpeg" alt=""></div>
  </div>

  

</div>