<nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container-xl">
      <a class="navbar-brand" href="#" style="margin-left: 25px;">
        <img
          src="../../assets/LOGO2.png"
          alt=""
          loading="lazy"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarNav"
        mdbCollapse
        #basicNav="mdbCollapse"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Strona główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="o_nas">O nas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/oferta">Oferta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/nasze_rosliny_u_klientow">Nasze rośliny u klientów</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/kontakt">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>