.contact-icon {
  display: inline-block;
  font-size: 18px;
  margin-right: 18px;
}

.contact-row {
  display: inline-block;
  margin-left: 38px;
}

.contact-details {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;

}
