<div class="spacer"></div>
<h2>KONTAKT</h2>
<div class="container content-container">
  <div class="row">
    <div class="col-lg-4 col-xl-3 container contact-details">
        <div class="row">
          <div class="col-lg-12">
            <span class="fa fa-home contact-icon"></span><b>Palmiarnia-Kraków.pl</b><br>
            <span class="contact-row">Beskidzka 4a</span><br>
            <span class="contact-row">30-622 Kraków</span><br><br>
            <span class="fa fa-phone contact-icon"></span><b>+48 501 365 985</b><br><br>
            <span class="fa fa-envelope contact-icon"></span><a href="mailto:palmiarnia.krakow@interia.pl">palmiarnia.krakow@interia.pl</a><br><br>
            <span class="fa fa-home contact-icon"></span><b>Pn. - Nd. 10:00 - 18.00</b><br>
          </div>
        </div>
    </div>
    <div class="col-lg-8 col-xl-9" *ngIf="apiLoaded | async">
      <google-map width="100%" height="380px" [options]="options">
        <map-marker [position] = "cords" [title]="title"></map-marker>
      </google-map>
    </div>
  </div>
</div>



