
<mdb-carousel [controls]="false" [indicators]="true" [animation]="'fade'" [interval]="0" style="padding: auto;">
    <mdb-carousel-item style="text-align: center;">
      <img
        src="../../assets/banner/1.jpeg"
        class="d-block w-80"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block banner-description">
        <h5>Palmiarnia-Kraków.pl</h5>
        <p>Jesteśmy importerem szerokiej gamy palm i roślin egzotycznych</p>
      </div>
    </mdb-carousel-item>
  
    <!-- <mdb-carousel-item>
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
        class="d-block w-80"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Palmy mrozoodporne</h5>
        <p>W swojej ofercie posiadamy palmy mrozoodporne, gotowe na warunki polskiego klimatu</p>
      </div>
    </mdb-carousel-item>
  
    <mdb-carousel-item>
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
        class="d-block w-80"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Rośliny egzotyczne</h5>
        <p>Cytrusy, bananowce, drzewa oliwne - znajdziesz je u Nas!</p>
      </div>
    </mdb-carousel-item> -->
  </mdb-carousel>