<div class="spacer"></div>
<h2>NASZE ROŚLINY U KLIENTÓW</h2>
<swiper
    [slidesPerView]="1"
    [spaceBetween]="10"
    [pagination]="{
      clickable: true
    }"
    [breakpoints]="{
      '640': {
        slidesPerView: 2,
        spaceBetween: 20
      },
      '768': {
        slidesPerView: 4,
        spaceBetween: 40
      },
      '1024': {
        slidesPerView: 5,
        spaceBetween: 50
      }
    }"
    class="mySwiper"
  >
  <ng-template swiperSlide><img src="../../assets/content/our_plants_at_the_customer/1.jpeg" class="img-fluid" /></ng-template>
  <ng-template swiperSlide><img src="../../assets/content/our_plants_at_the_customer/2.jpeg" class="img-fluid" /></ng-template>
  <ng-template swiperSlide><img src="../../assets/content/our_plants_at_the_customer/3.jpeg" class="img-fluid" /></ng-template>
  <ng-template swiperSlide><img src="../../assets/content/our_plants_at_the_customer/4.jpeg" class="img-fluid" /></ng-template>
  <ng-template swiperSlide><img src="../../assets/content/our_plants_at_the_customer/5.jpeg" class="img-fluid" /></ng-template>

  </swiper>
  <div class="col-lg-12">
    <br>
    <p><b>Palmiarnia-Kraków.pl</b> codziennie zmienia Państwa ogrody i wnętrza na lepsze! Nasze rośliny znalazły swoje miejsce w ogrodach, oranżeriach, hotelach, basenach, mieszkaniach, zdobiąc biura, a także balkony i tarasy naszych klientów. Szeroki wybór gatunków i rozmiarów zawsze pozwala nam zaproponować Państwu coś odpowiedniego bez wględu na wielkość ogrodu czy domowego wnętrza. <br><br><br><br><br><br><br> </p>
  </div>

  