<div class="spacer"></div>
<div class="container content-container" id="offer">
    <div>
      <h2>OFERTA</h2>
      <div class="container">
          <div class="row offer">
              <div class="col-md-3 offer-option-container">
                <div class="offer-option palms">
                  <a class="btn-container" routerLink="/palmy">
                    <img src="../../assets/home/palmy.jpg" alt="palmy">
                    <button class="btn">Palmy</button>
                  </a>
                </div>
              </div>
              <div class="col-md-3 offer-option-container">
                <div class="offer-option citruses">
                  <a routerLink="/jukki">
                    <img src="../../assets/home/jukki.jpeg" alt="jukki">
                    <button class="btn">Jukki</button>
                  </a>
                </div>
              </div>
              <div class="col-md-3 offer-option-container">
                <div class="offer-option olive-trees">
                  <a routerLink="/drzewa_oliwne">
                    <img src="../../assets/home/drzewa_oliwne.jpg" alt="drzewa_oliwne">
                    <button class="btn">Drzewa oliwne</button>
                  </a>
                </div>
              </div>
              <div class="col-md-3 offer-option-container">
                <div class="offer-option exotic-plants">
                  <a routerLink="/rosliny_egzotyczne">
                    <img src="../../assets/home/cytrusy.jpg" alt="drzewa edzotyczne">
                    <button class="btn">Rośliny egzotyczne</button>
                  </a>
                </div>
              </div>
          </div>
      </div>
      <div class="spacer"></div>
      <div class="ratio ratio-16x9">
        <iframe 
          src="https://www.youtube.com/embed/NEVWuFZpmxs"
          title="YouTube video"
          allowfullscreen
        ></iframe>
      </div>
      <div class="spacer"></div>
      <h4>Wynajem</h4>
      <div class="container">
        <div class="row">
          <div class="col-md-12"><p>Pragniemy Państwu zaoferować <b>możliwość wynajęcia</b> naszej palmiarni na <b>sesje zdjęciowe</b> w przepięknej egzotycznej scenerii. 
            Jest tez możliwość wynajmu krótko lub długoterminowego palm i innych roslin egzotycznych. <br><br>Proponujemy <b>obsługę uroczystości</b> weselnych, imprez okolicznościowych itp. Rośliny <b>dowozimy</b> własnym transportem we wskazane miejsce w Polsce, a także <b>aranżujemy</b> wystrój egzotyką.
            Posiadamy potężne egzemplarze palm i roslin egzotycznych, nawet takie sześcio metrowe. Całą egzotykę można zobaczyć u nas na miejscu w Krakowie.  
            <br><br>Jesteśmy dostępni pod telefonem 7 dni w tygodniu. Zapraszamy serdecznie do kontaktu i rezerwacji roslin. <br><br>Z pozdrowieniami ekipa Palmiarni!</p></div>
        </div>
      </div>
    </div>

  </div>
