<app-banner></app-banner>
<main>
  <div class="spacer"></div>
  <div class="container content-container" id="aboutUs">
    <div>
      <h2>O NAS</h2>

      <p>PalmiarniaKrakow.pl jest importerem roślin egzotycznych. W swojej ofercie posiadamy palmy, juki, agawy, strelicje, kaktusy, bananowce i wiele innych. Posiadamy wiedzę i praktykę hodowli roślin egzotycznym w warunkach klimatycznych naszego kraju. </p>
    </div>

  </div>
  <div class="spacer"></div>
  <div class="container content-container" id="offer">
    <div>
      <h2>OFERTA</h2>
      <div class="container">
          <div class="row offer">
              <div class="col-md-3 offer-option palms">Palmy</div>
              <div class="col-md-3 offer-option citruses">Cytrusy</div>
              <div class="col-md-3 offer-option olive-trees">Drzewa oliwne</div>
              <div class="col-md-3 offer-option exotic-trees">Drzewa ezgotyczne</div>
          </div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni vitae culpa vel, inventore tenetur sequi
        praesentium, ipsam iure exercitationem ullam, aperiam repellendus nam totam soluta asperiores ad hic aspernatur
        neque!</p>
    </div>

  </div>
  <div class="spacer"></div>
  <div class="container content-container" id="ourPlants">
    <div>
      <h2>NASZE ROŚLINY U KLIENTÓW</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni vitae culpa vel, inventore tenetur sequi
        praesentium, ipsam iure exercitationem ullam, aperiam repellendus nam totam soluta asperiores ad hic aspernatur
        neque!</p>
    </div>

  </div>
  <app-contact id="contact"></app-contact>
</main>
